
*  {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


p {
    color: white;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.25rem;
}

/* body {
    background-color: ##fff;
} */

 body, html {
    height: 100%;
 }

 .bg-image {
    /* The image used */
    background-image: url("EveningGGBridge.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /* transition: transform .5s; */
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }


  
 

h1, h2, h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}  

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    /* text-align: left; */
    letter-spacing: 0.1rem;
    /* border: solid white;
    border-width: thin; */
    margin: 10px;
}



li p img {
    float: left;
    
}

img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0;
    
}

.main-header {
    text-align: center;
}

.main-nav {
    font-size: x-large;
}

.about, .about li {
    margin:0;
    padding:0;
    
}

.about-list {
    display: inline-block;
    text-align: center;
    /* clear: left;   */
    color: white; 
}

.about-list img {
    margin: 0 30px 10px 0;
}

.main-footer {
    text-align: center;
}






/* Base Layout Styles */

    /* Layout Containers */

    .container {
        padding-left: 1em;
        padding-right: 1em;
        
    }


  /* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 769px) { */
    .container {
        width: 80%;
        margin: 225px auto;
        max-width: 1000px;
        border-bottom: solid white;
        border-top: solid white;
    
    }

    .wrap {
        min-height: calc(100vh - 18px);
        margin: 20px 20px 0px 20px;
        z-index: 2;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;

    }

    .main-nav, 
    .main-nav li,
    li {
        display: inline-block;
        /* padding: 0px; */
        /* text-align: left; */
       
    }

    
    
/* } */