/* @import url(fontawesome-all.min.css); */

*  {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


.container p {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.25rem;
}

 body, html {
    height: 100%;
 }

 .bg-image {
    /* The image used */
    background-image: url("Santa-Cruz-Natural-Bridges.jpg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    /* transition: transform .5s; */
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .bg-image-home {
    /* The image used */
    background-image: url("Santa-Cruz-Natural-Bridges.jpg");
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    /* transition: transform .5s; */
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

  .self-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    /* border-radius: 100px; */
  }
 
  .aboutphoto {
    max-width: 250px;
    /* width: 100%; */
    max-height: 250px;
    border-radius: 4px;
  }

h1, h2, h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}  

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    /* text-align: left; */
    letter-spacing: 0.1rem;
    /* border: solid white;
    border-width: thin; */
    margin: 10px;
}



li p img {
    float: left;
    
}

img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 0;
    
}

.main-header {
    text-align: center;
}

.main-nav {
    font-size: x-large;
}

.about, .about li {
    margin:0;
    padding:0;
    
}

.about-list {
    display: inline-block;
    text-align: center;
    /* clear: left;   */
    color: white; 
}

.about-list img {
    margin: 0 30px 10px 0;
}

.main-footer {
    text-align: center;
}

.opaque h2 {
    border-bottom: solid white;
    width: max-content;
    /* margin: 20px; */
}

.box {
    border-radius: 4px;
    border: solid 1px #ffffff;
    margin-bottom: 2rem;
    padding: 1.5em;
}


@keyframes transitionIn {
    from {
        opacity: 0;
        /* transform: rotateX(-10deg);  */
    }
    

    to {
        opacity: 1;
        /* transform: rotateX(0); */
    }
}

/* Base Layout Styles */

    /* Layout Containers */

    .container {
        padding-left: 1em;
        padding-right: 1em;
        animation: transitionIn 2s; 
    }

  
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
  }
  
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
  }
  
  .icon > .label {
    display: none;
  }
  
  .icon:before {
    line-height: inherit;
  }
  
  .icon.solid:before {
    font-weight: 900;
  }
  
  .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }
  
 
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }
  
  ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
  }
  
  ul.icons li:last-child {
    padding-right: 0 !important;
  }

 .icons li a {
     font-size: 22px;
 }


  /* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 769px) { */
    .container {
        width: 80%;
        margin: 255px auto;
        max-width: 1000px;
        border-bottom: solid white;
        border-top: solid white;
    
    }

    .opaque {
        width: 80%;
        margin: auto;
        max-width: 1000px;
        background-color: black;
        padding: 40px 40px 24px 40px;
        border-radius: 4px;
        /* opacity: 0.7; */
    }

    .opaque h2 {
        animation: transitionIn 2s; 
    }

    .opaque-white {
        width: 80%;
        margin: auto;
        max-width: 1000px;
        background-color:white;
        padding: 40px 40px 24px 40px;
        border-radius: 4px;
        /* opacity: 0.7; */
    }

    .opaque-white h1, .opaque-white h2, .opaque-white h3 {
        border-bottom: solid black;
        width: max-content;
        color: black;
        text-align: center;
    }

    .opaque-white p {
        color: black;
        font-size: 16px;
        margin: 0px 0px 20px 0px;
    }

    .opaque-white a {
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
        text-decoration: none;
        color: inherit;
    }

    .opaque p {
        color: white;
        font-size: 16px;
        margin: 0px 0px 20px 0px;
        /* text-align: center; */
        /* letter-spacing: 0.25rem; */
    }

    .opaque a {
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
        border-bottom: dotted 2px rgba(255, 255, 255, 0.5);
        text-decoration: none;
        color: inherit;
    }

    .wrap {
        min-height: calc(100vh - 18px);
        margin: 0px 20px 0px 20px;
        z-index: 2;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;

    }

    .main-nav, 
    .main-nav li,
    li {
        display: inline-block;
        /* padding: 0px; */
        /* text-align: left; */
       
    }